header {
  text-align: center;
}
.images {
  text-align: center;
}

body {
  width: 75%;
  height: 75%;
  text-align: center;
}

h1 {
  color: red;
  text-align: center;
}
a {
  padding: 10px;
  background-color: gray;
}

bottom {
  text-align: left;
  float: left;
  display: block;
  background-color: red;
}
