header {
  text-align: center;
}
.images {
  text-align: center;
}

.middle {
  font-size: 12px;
  width: 800px;
  margin: auto;
  text-align: center;
}

h1 {
  color: red;
  text-align: center;
}
a {
  padding: 10px;
  background-color: gray;
}

bottom {
  display: block;
  float: left;
  background: red;
}
